/* Your CSS goes here */
body {
  font-family: 'Raleway', sans-serif;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.trans-box {
  border: 1px solid #bababa;
  border-radius: 5px;
  background-color: rgba(208, 221, 237, .3)
}
#message-board {
  width: 60%;
  display: inline-block;
  padding-right: 2%;

}
.message-box {
  list-style-type: none;
  padding: 5px;
  margin: 5px;
  border: 1px solid #bababa;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .8);
}
.name {
  font-weight: bold;
}
#input-form {
  width: 29%;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  margin-left: 3%;
}
.center {
  display: block;
  margin: 0 auto;
  width: 80%;
}

/*#container {
  position: fixed;
  width: 100%;
  height: 100%;
}



#title {
  text-align:center;
}

#message-board {
  width: 46%;
  height: auto;
  min-height: 80%;
  margin-top: 2%;
  margin-left: 2%;
  padding: 0;
  border:1px solid blue;
  background-color: #87CEFA; 
  float: left;
}

.message-box {
  width: 96%;
  height: auto;
  margin:2%;
  background-color: white;
  border-radius: 10px;
}

.message {
  width: 80%;
  height: 50%;
  font-size: 1em;
  padding-left: 2%;
  margin-bottom: 2%;
  margin-left: 6%;
}

.name {
  width: 80%;
  height: 40%;
  font-weight: bold; 
  font-size: 1em;
  padding-bottom: 2%;
  padding-left: 2%;
  margin-left:6%;
}

#input-form {
  width: 20%;
  min-width: 150px;
  min-height: 230px;
  height: 40%;
  margin-left: 10%;
  margin-top: 10%;
  border: 1px solid blue;
  background-color: #87CEFA; 
  padding: 0;
  float: left;
}

#input-name {
  width: 80%;
  margin-left: 10%;
  margin-top:10%;
  border-radius: 5px;
  padding: 0;
}

#input-message {
  width: 80%;
  margin-left: 10%;
  padding: 0;
  margin-top: 3%;
  border-radius: 5px;
}

#submit-button {
  width: 80%;
  margin-left: 10%;
  padding: 0;
}

#message-title {
  padding: 0;
  margin: 0;
  text-align: center;
}*/